<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../../lib/internal/Magento/Framework/ObjectManager/etc/config.xsd">
    <type name="Magento\Contact\Controller\Index\Post">
        <plugin name="Ashwin_Contact_Plugin" type="Ashwin\Contact\Plugin\ContactPlugin" sortOrder="10" disabled="false" />
    </type>
	
	<preference for="Magento\Catalog\Pricing\Render\FinalPriceBox" type="Ashwin\Contact\Override\Pricing\Render\FinalPriceBox" />
	
</config>