<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <ashwin>
            <general>
                <title>Ashwin::Price Change</title>
				<enabled>1</enabled>
				<secret>1</secret>
				<option>1</option>
            </general>
        </ashwin>
    </default>
</config>